*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background: linear-gradient(315deg, #cbd394 0%, #6f8817 74% );
    display: flex;
    /*align-items: center;*/
    justify-content: center;
}

.container{
    max-width: 500px;
    margin-top: 50px;
}

.kitchen-title{
    text-align: center;
    font-size: 30px;
}

.kitchen-header{
    margin: 30px 0 20px;
    display: flex;
}

.kitchen-header input{
    height: 42px;
    padding: 10px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 20px;
}

.kitchen-header button{
    height: 42px;
    padding: 0 20px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    background-color: black;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    border-radius: 50px;
    outline: none;
}

.kitchen-header button:hover{
    background-color: #fff;
    color: black;
}

.container ul{
    list-style: none;
}

.kitchen-items-list li{
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    background-color: #024d34;
    width: 300px;
    height: 40px;
    padding: 10px ;
    margin: 10px ;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    color: #fff; /* newly added */
}

.fa-trash, .fa-edit{
    background-color: #fff;
    color: #000;
    padding: 6px 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 7px;
    margin-top: 3px; 
}

/* newly added */
.fa-trash{
    margin-left: auto;
    margin-right: 0.5rem;
}

